.about-page-content{
    margin-top: 15vh;
    display: flex;

}
.about-page{
    background-color: #e3d8d1e6;
    height: 100vh;
    display: flex;

}
.about-page h1{
    padding-top: 5vh;
    display: inline-block;
    
}

.headshot {
    margin-left: 10vw;
    margin-top: 5vh;
    width: fit-content;
    float: left;
    

}
.about-text {
    margin: 5vw;
  
    width: 60vw;
   
    float: right;
}
.About-title{
    width: 20vw;
    padding-left: 10px;
}